@import url("https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Host Grotesk", sans-serif;
}

:root {
  --primary-color: #000;
  --secondary-color: #fff;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.time {
  text-align: center;
  font-weight: bold;
}

.toggle {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  position: absolute;
  top: 380px;
}

html.dark {
  --primary-color: #fff;
  --secondary-color: #000;
}

html.dark {
  background-color: #000;
  color: #fff;
  transition: 0.5s all ease-in;
}

html {
    transition: 0.5s all ease-in;
}
