@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.navbar {
    height: 70px;
    background-color: rgb(22, 22, 22);
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 30px;
}

.navbar-content .navbar-left .fa-facebook {
    color: white;    
    font-size: 40px;
    border-radius: 100%;
    background: white;
    text-align: center;
}

.navbar-content .navbar-left .fa-solid {
    color: white;   
    padding: 10px;
    font-size: 20px;
}

.navbar-content .navbar-mid i {
    color: white;
    padding: 23px;
    font-size: 22px;
}

.navbar-content .navbar-mid .fa-house {
    color: #0062ff;
    border-bottom: 3px solid #0062ff;
    border-radius: 2px;
}

.navbar-content .navbar-right i {
    color: white;
    padding: 12px;
    font-size: 20px;
    background-color: rgb(63, 63, 63);
    border-radius: 50%;
}